<ion-header>
  <!-- Llamado al Menú general de la aplicación -->
  <ion-toolbar class="barra-menu" color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>MoviBike</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">   
  <br><center>
  <h1>Registro de Bicicletas</h1>
  </center>
  <ion-searchbar (ionInput)="getItem($event)"></ion-searchbar>
  <br>
  <ion-list>
    <ion-item-sliding *ngFor="let item of bicicleta; let indice = index" >
      <ion-item expandable>
        <ion-row>
          <ion-col size="2">{{indice + 1}})</ion-col>
          <ion-col size="10">
            <ion-row>
              <ion-col size="3"><h4>{{ item.patente }}</h4></ion-col>
              <ion-col size="5"><p style="font-size: small;">{{ item.estado }}</p></ion-col>
              <ion-col size="4"><p style="font-size: small;">{{ item.fechaIngreso }}</p></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="success" (click)="editar(item)">
          <ion-icon size="large" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminar(item)">
          <ion-icon size="large" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
    
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" [routerLink]="['/agregar-bici']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button> 
  </ion-fab>

</ion-content>
