#container {
  text-align: center;
    
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
    
#container strong {
  font-size: 20px;
  line-height: 26px;
}
    
#container p {
  font-size: 16px;
  line-height: 22px;
  
  color: #8c8c8c;
    
  margin: 0;
}
    
#container a {
  text-decoration: none;
}
  
/* Estilo Personalizado */
#title {
  color: #2dd36f;
  text-align: center;
}
  
#botones{
  padding-top: 13px;
  padding-left: 10%;
  padding-bottom: 13px;
}
  
ion-button {
  font-size: medium;
}

ion-button:hover {
  background-color: #2dd36ff1;
  border-radius: 8px;
  ion-icon, span {
    color: #ffffff;
  }
}

.mensaje {
  font-size: x-small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  color: #8c8c8c;
}
