<ion-app>
  <ion-split-pane when="3000px" contentId="main">

  <!-- Menú de opciones disponible para todas las páginas de la app -->
  <ion-menu side="end" menuId="alterno" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar class="menu" color="green">
        <ion-button slot="end" fill="clear" (click)="closeAlterno()">
          <ion-icon name="close-sharp" color="dark"></ion-icon>
        </ion-button>
        <ion-title>Perfil</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle [routerLink]="['/datos-cliente']">
          <ion-item button>
            <ion-label>Mis datos</ion-label>
            <ion-icon name="accessibility"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [routerLink]="['/']">
          <ion-item button>
            <ion-label>Configuración</ion-label>
            <ion-icon name="settings"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [routerLink]="['/reporte-problema']">
          <ion-item button>
            <ion-label>Reportar problema</ion-label>
            <ion-icon name="chatbox-ellipses"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [routerLink]="['/login']">
          <ion-item button (click)="closeAlterno()">
            <ion-label>Cerrar sesión</ion-label>
            <ion-icon name="exit"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

  </ion-split-pane>

</ion-app>

<!-- Menú de opciones disponible para todas las páginas de la app 
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar class="menu" color="green">
        <ion-button slot="end" fill="clear" (click)="closeCustom()">
          <ion-icon name="close-sharp" color="dark"></ion-icon>
        </ion-button>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle [routerLink]="['/modi-datos-cliente']">
          <ion-item button>
            <ion-label>Mis rutas más comúnes</ion-label>
            <ion-icon name="bicycle"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [routerLink]="['/']">
          <ion-item button>
            <ion-label>Consultar mis pagos</ion-label>
            <ion-icon name="card"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [routerLink]="['/']">
          <ion-item button>
            <ion-label>Configuración de la app</ion-label>
            <ion-icon name="settings"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [routerLink]="['/']">
          <ion-item button>
            <ion-label>Reportar problema</ion-label>
            <ion-icon name="chatbox-ellipses"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [routerLink]="['/']">
          <ion-item button detail="false" (click)="closeCustom()">
            <ion-label>Cerrar</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>-->